# Ignore All Data
*.mat
data/survey.csv
data/manual_inspection.pickle
data/stage_2_processed.pickle
data/stage_3_processed.pickle
data/stage_4_processed.pickle
data/processed_results.csv
data/transformed_subset.csv
data/merged_processed_results.csv
data/preferred_periods.pickle
data/preferred_period_filtering_map.csv

# Ignore All Plots
*.png
*.jpg
*.pdf
*.eps

# Ignore compiled and other artifacts
*.DS_Store
*.ipynb_checkpoints
.Rhistory

# Ignore Notebooks
*.ipynb

# Ignore compiled files
*.pyc
*_pycache_*

# Ignore documentation
documentation/
literature/

# VS Code Workspace
*workspace*